:root {
    --main-orange: #d96911;
    --light-orange: #e1b292;
    --main-blue: #1a2c72;
    --light-blue: #99a7b6;

}

body {
    background-color: var(--light-blue);
}

main {
    margin: 15px;
}

.insertProducts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: solid 3px var(--main-blue);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.product-card {
    margin: 5px;
    border: solid 3px var(--main-blue);
    background-color: var(--main-blue);
    color: white;
}

nav.navbar {
    border-bottom: solid 3px var(--main-blue);
    background-color: var(--main-blue);
    color: white;
}

.nav-link{
    color: white;
}

h1 {
    font-size: 30px;
    border: solid 3px var(--main-orange);
    background-color: var(--light-orange);
    border-radius: 5px;
    padding: 5px;
    color: var(--main-blue);
}

.btn {
    border: solid 3px var(--main-orange);
    background-color: var(--light-orange);
    color: white;
}
.post-card{
    width: 400px;
}
.card-title {
    color: var(--main-orange);
    border-bottom: solid 2px;
}

.card-text {
    display: flex;
    justify-content: space-between;
}

.blog-posts {
    display: flex;
    flex-direction: column;
}