/*css variables*/
:root {
    --burntorange: #d96911;
    --orangeBG: rgba(210, 133, 72, 0.55);
    --dustynavy: #212a56;
    --valueBG: #2c3873;
    --processBG: #3b4b9a;
    --visionBG: #4a5ec0;
    --linksky: #0057c9;
    --linkskyhover: #1674f3;
    --linkskyvisited: #7f9ed2;
}

h1.fancy-header {
    color: var(--burntorange);
    text-decoration: underline;
    text-align: center;
    /*font-family: "Arial Black", serif;*/
    font-family: 'Tilt Prism', cursive;
    text-transform: uppercase;
    text-decoration-style: double;
    text-decoration-color: var(--visionBG);
    animation: breathe 1s infinite;
}

@keyframes breathe {
    0% {
        transform: scale(100%);
    }
    25% {
        transform: scale(102%);
    }
    50% {
        transform: scale(105%);
    }
    75% {
        transform: scale(102%);
    }
    100% {
        transform: scale(100%);
    }
}

header {
    color: var(--burntorange);
    text-align: center;
    background-image: url("img/codeup_pride.png");
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: top left;
}

h3 {
    color: var(--burntorange);
    text-decoration: underline;
    text-align: center;
    /*font-family: "Arial Black", serif;*/
    font-family: 'Tilt Prism', cursive;
    /*background: lightgray;*/
    animation: rotation 1s infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    16% {
        transform: rotate(60deg);
    }
    32% {
        transform: rotate(120deg);
    }
    48% {
        transform: rotate(180deg);
    }
    64% {
        transform: rotate(240deg);
    }
    80% {
        transform: rotate(300deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#veridian_info {
    /*background: var(--orangeBG);*/
}

#core_values, #vision, #process {
    padding-bottom: 20px;
    border-radius: 10px;
}

#core_values {
    background: var(--valueBG);
}

#process {
    background: var(--processBG);
}

#vision {
    background: var(--visionBG);
}

main {
    background-color: var(--dustynavy);
    margin-left: 20%;
    margin-right: 20%;
}

main {
    /*background-image: url("img/codeup_pride.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: top right;*/
    font-family: "Arial", serif;
    color: gray;
}

main h3 {
    text-transform: uppercase;
}

li {
    margin: 10px;
}

li:hover {
    transform: scale(400%);
    text-align: center;
    color: yellow;
    text-transform: uppercase;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}

ul {
    list-style-type: square;
}

footer {
    font-family: "Arial", serif;
    text-align: center;
}

#vision_img {
    display: block;
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    margin: 0 auto;
    width: 70%;
}

table {
    border: 1px black double;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

td {
    color: gray;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    background: var(--processBG);
}

th {
    color: var(--valueBG);
    background: var(--orangeBG);
    text-decoration: underline;
    font-family: "Arial Black", serif;
    text-align: center;
    font-size: 16px;
}

a:link {
    color: var(--linksky);
}

a:visited {
    color: var(--linkskyvisited);
}

a:hover {
    color: var(--linkskyhover);
}

#product {
    text-align: center;
}

em {
    animation: colorchange 1s infinite alternate;
}

@keyframes colorchange {
    0% {
        color: red;
    }
    20% {
        color: orange;
    }
    40% {
        color: yellow;
    }
    60% {
        color: green;
    }
    80% {
        color: blue;
    }
    100% {
        color: violet;
    }
}