/*css variables*/

:root {
    --burntorange: #d96911;
    --orangeBG: rgba(210, 133, 72, 0.55);
    --dustynavy: #212a56;
    --valueBG: #2c3873;
    --processBG: #3b4b9a;
    --visionBG: #4a5ec0;
    --linksky: #0057c9;
    --linkskyhover: #1674f3;
    --linkskyvisited: #7f9ed2;
}

h1.fancy-header {
    color: var(--burntorange);
    text-decoration: underline;
    text-align: center;
    font-family: "Arial Black", serif;
    text-transform: uppercase;
    text-decoration-style: double;
    text-decoration-color: var(--visionBG);
}

header {
    color: var(--burntorange);
    text-align: center;
    background-image: url("img/codeup_pride.png");
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: top left;
}

h3 {
    color: var(--burntorange);
    text-decoration: underline;
    text-align: center;
    font-family: "Arial Black", serif;
}
#veridian_info {
    background: var(--orangeBG);
}

#core_values {
    background: var(--valueBG);
}

#process {
    background: var(--processBG);
}

#vision {
    background: var(--visionBG);
}

body {
    background-color: var(--dustynavy);
}

main {
    /*background-image: url("img/codeup_pride.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: top right;*/
    font-family: "Arial", serif;
    color: gray;
}

main h3 {
    text-transform: uppercase;
}

ul {
    list-style-type: square;
}

footer {
    font-family: "Arial", serif;
    text-align: center;
}

#vision_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    border: 1px black double;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

td {
    color: gray;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    background: var(--processBG);
}

th {
    color: var(--valueBG);
    background: var(--orangeBG);
    text-decoration: underline;
    font-family: "Arial Black", serif;
    text-align: center;
    font-size: 16px;
}

a:link {
    color: var(--linksky);
}

a:visited {
    color: var(--linkskyvisited);
}

a:hover {
    color: var(--linkskyhover);
}

#product {
    text-align: center;
}

