h1.fancy-header {
    color: darkorange;
    text-decoration: underline;
    text-align: center;
    font-family: "Arial Black", serif;
}
header {
    color: darkorange;
    text-align: center;
}

h3 {
    color: darkorange;
    text-decoration: underline;
    text-align: center;
    font-family: "Arial Black", serif;
}

body {
    background-color: navy;
}

main {
    background-image: url("img/codeup_pride.png");
    background-repeat: no-repeat;
    background-position: top right;
    font-family: "Arial", serif;
    color: gray;
}

ul {
    list-style-type: square;
}

footer {
    font-family: "Arial", serif;
    text-align: center;
}
#vision_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    border: 1px black double;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

td {
    color: gray;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

th {
    color: darkorange;
    text-decoration: underline;
    font-family: "Arial Black", serif;
    text-align: center;
    font-size: 16px;
}

a:link {
    color: royalblue;
}

a:visited {
    color: grey;
}

a:hover {
    color: darkcyan;
}

#product {
    text-align: center;
}

