body {
    background-color: black;
    margin: 0px;
    font-family: sans-serif;
}

.row {
    display: flex;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: solid 3px darkgrey;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
}

h1 {
    display: flex;
    border-right: solid 5px darkgrey;
    margin: 0;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

h3 {
    margin: 0;
    padding-top: 0;
}

h4 {
    margin-top: 0;
}

.h4-day {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    height: 25px;
    background-color: darkgrey;
    color: white;
}

.search {
    display: flex;
    height: 30px;
    width: 165px;
    border: 3px solid darkgrey;
    border-right: unset;
    padding-left: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 20px;
}

#search-submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border: solid 3px darkgrey;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    height: 38px;
}

#search-submit:hover {
    background-color: black;
    color: white;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px 0px 20px;
    align-items: center;
}

.map-container {
    display: flex;
    justify-content: center;
    height: 450px;
    width: 1200px;
    padding-left: 8px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    width: 1200px;
    padding: 5px;
    border-bottom: solid 3px darkgrey;
    border-right: solid 3px darkgrey;
    border-left: solid 3px darkgrey;
    border-radius: 10px;
}

.zoom-buttons {
    display: flex;
    flex-direction: row;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid 3px darkgrey;
    border-radius: 5px;
    height: 38px;
    margin: 5px;
}

.button:hover {
    background-color: black;
    color: white;
}

.zoom {
    height: 38px;
    width: 38px;
}

.map {
    height: 430px;
    width: 700px;
    border: solid 3px darkgrey;
    border-radius: 5px;
}

.side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.side-bar-head {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 0;
    background-color: darkgrey;
    height: 30px;
    width: 186px;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.side-bar-items {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 180px;
    border: solid 3px darkgrey;
    background-color: rgba(128, 128, 128, 0.5);
}

.history-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 37px;
    width: 180px;
    border-bottom: solid 3px darkgrey;
    align-items: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: black;
}

.history-item:hover {
    background-color: rgba(169, 169, 169, 0.57);
    color: white;
}

.saved-item {
    display: flex;
    flex-direction: row;
    height: 37px;
    width: 180px;
    border-bottom: solid 3px darkgrey;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: black;
}

.saved-item:hover {
    background-color: rgba(169, 169, 169, 0.57);
    color: white;
}

.forecast-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 120px;
    width: 1200px;
    border: solid 3px darkgrey;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.5);
    margin: 5px;
    /*justify-content: center;*/
    align-items: center;
}

.forecast-header-wrapper {
    display: none;
    flex-direction: column;
    align-items: center;
    border: solid 3px white;
    border-radius: 5px;
}

.forecast-header {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.forecast-header-show {
    margin: 0px;
    font-size: 12px;
    color: white;
}

.forecast-header-city {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    border-top: solid 3px white;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin: 0;
    padding: 2px;
}

h3.forecast-city {
    display: block;
    margin-top: 0;
    padding: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.day-forecast-card {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 200px;
    border: solid 5px white;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
}

.h2-day {
    margin-left: 10px;
}

.temp {
    display: flex;
    justify-content: center;
    margin: 0px;
    border-bottom: solid 3px white;
    border-radius: 5px;
    padding-bottom: 3px;
    background-color: rgba(169, 169, 169, 0.47);
}

.conditions {
    display: flex;
    margin: 0;
    padding-left: 10px;
    font-size: 14px;
    border-bottom: solid 2px darkgrey;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.hide {
    display: none;
    background-color: grey;
    /*border-bottom: solid 3px white;*/
    /*border-right: solid 3px white;*/
    /*border-left: solid 3px white;*/
}

.forecast-city {
    margin-top: 15px;
}

.history-item-name {
    display: flex;
    flex-grow: 1;
    height: 30px;
    align-items: center;
    margin-left: 10px;
}

.saved-item-name {
    display: flex;
    flex-grow: 1;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.remove-saved-item {
    display: flex;
    justify-content: end;
    margin-right: 10px;
    font-size: 25px;
}

.remove-saved-item:hover {
    color: red;
}

.fav-star {
    display: flex;
    justify-content: end;
    margin-right: 10px;
    font-size: 25px;
}

.fav-star:hover {
    font-weight: bold;
    color: goldenrod;
}

.weather-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 25px;
    width: 25px;
    border: solid 2px white;
    border-radius: 50%;
    margin-left: 5px;
}
