:root {
    --textcolor: #c05a11;
    --player-idle: #ff6a00;
    --enemy-idle: #1e8c55;
}

body {
    display: flex;
    color: var(--textcolor);
    background-color: black;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
}

.enemy-field {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 500px;
    background-color: grey;
}

.player-field {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 500px;
    background-color: grey;
}

h1 {
    display: flex;
    justify-content: center;
}

.info-field {
    background-color: lightgray;
    height: 100px;
    width: 500px;
    color: black;
    font-size: 20px;
}

.nr-player {
    display: flex;
    align-self: end;
    background-color: var(--player-idle);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-bottom: 50px;
}

.nr-enemy {
    display: flex;
    background-color: var(--enemy-idle);
    height: 20px;
    width: 20px;
    margin-top: 50px;
    animation: targetAnim 1s infinite;
}

.nr-enemy:hover {
    background-color: unset;
}

@keyframes damageAnim {
    0% {
        background-color: unset;
    }
    25% {
        background-color: red;
    }
    50% {
        background-color: unset;
    }
    75% {
        background-color: red;
    }
    100% {
        background-color: unset;
    }
}

.turn-status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.player-turn-status {
    color: black;
    padding: 3px;
    border: solid lightgray;
    background-color: grey;
}

.enemy-turn-status {
    color: black;
    padding: 3px;
    border: solid lightgray;
    background-color: grey;
}



