:root {
    --enemy1: #4d4d4d;
    --enemy2: #9b1e1e;
    --enemy3: #8561cc;
    --enemy4: #966834;
}

body {
    background-color: grey;
}

.page-wrapper {
    margin-left: 10%;
    margin-right: 10%;
}

#info-field-row-1 {
    width: 100%;
    height: 50px;
    background-color: white;
}
#info-field-row-2 {
    width: 100%;
    height: 50px;
    background-color: white;
}

.nr-start-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-area {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    margin-top: 20px;
}

.enemies {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    height: 300px;
    margin-bottom: 10px;
}

.enemy-icon {
    display: flex;
    background-color: unset;
    border: solid white;
    justify-content: center;
    align-items: center;
    color: white;
    height: 50px;
    width: 100px;
    font-size: 20px;
}

.enemies {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.gauge-area{
    display: flex;
    flex-direction: row;
    border: solid black;
    width: 250px;
}

.player-action-gauge {
    display: flex;
    align-content: center;
    width: 100px;
    height: 20px;
    border: solid white;
}

.player-action-gauge-fill {
    display: flex;
    align-self: center;
    width: 0px;
    height: 8px;
    background-color: #ff7300;
    border-top: solid 3px orangered;
    border-bottom: solid 3px orangered;
}

.current-player-actions {
    display: flex;
    align-self: center;
    padding-left: 5px;
}

.player-hp-bar {
    display: flex;
    align-content: center;
    width: 100px;
    height: 20px;
    border: solid white;
}

.player-hp-bar-fill {
    display: flex;
    align-self: center;
    width: 0%;
    height: 8px;
    background-color: #ff3030;
    border-top: solid 3px #d25959;
    border-bottom: solid 3px #d25959;
}

.current-player-hp {
    display: flex;
    align-self: center;
    padding-left: 5px;
}

.player-sp-bar {
    display: flex;
    align-content: center;
    width: 100px;
    height: 20px;
    border: solid white;
}

.player-sp-bar-fill {
    display: flex;
    align-self: center;
    width: 0%;
    height: 8px;
    background-color: royalblue;
    border-top: solid 3px #6c8fee;
    border-bottom: solid 3px #6c8fee;
}

.current-player-sp {
    display: flex;
    align-self: center;
    padding-left: 5px;
}